{% extends "diagnosis/base.html" %}
{% block title %}
  Diagnosis
{% endblock title %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Diagnosis</li>
        </ol>
        </nav>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-body text-primary">
            <h5 class="card-title">Provide the following details.</h5>
            <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}