{% extends "diagnosis/base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>
      </nav>
      <section class="jumbotron text-center">
        <div class="container">
          <h1>Welcome</h1>
          <p class="lead text-muted">AI Will Diagnos You, assisting in the diagnosis of COVID 19 through the use of 
              AI models trained on synthetic data supplemented by episode data
          </p>
          <p>
            <a href="{% url 'diagnosis' %}" class="btn btn-primary btn-lg">    Start   </a>
          </p>
        </div>
      </section>
</div>
{% endblock content %}